template(name='ListsIndex')
  +contentFor('headerTitle')
    h1.title Lists
  +ionView
    +ionContent
      +ionList
        each lists
          +ionItem(buttonRight=true)
            a(href="{{pathFor 'ListsShow' _id=_id}}")
              h2= name
      
template(name='ListsShow')
  +contentFor('headerButtonLeft')
    +ionNavBackButton(path="ListsIndex")
  +contentFor('headerTitle')
    h1.title= list.name
  +ionView
    +ionContent
      +ionList
        +ListsCreateItem
        each listItems
          +ListItem
              
template(name='ListItem')
  +ionItem(buttonRight=true)
    h2= name
    if done
      button.button(data-action='mark-as-not-done')
        +ionIcon(icon='checkmark')
    else
      button.button.button-positive(data-action='mark-as-done')
        +ionIcon(icon='checkmark')
                
template(name='ListsCreateItem')
  +ionItem(buttonRight=true class='lists-create')
    input(type='text' placeholder='New item')
    button.button.button-positive
      +ionIcon(icon='plus')
